.newemoji {
    padding: 5px 0 0 5px;
    width: 200px;
    height: 210px;
    background-color: bisque;
}








.pic {}

.pic-img {
    width: 35px;
    height: 35px;
}
img{
    width: 300px;
    height: 300px;
}